*{
    background-color: rgba(255,0,0,0.4);
   
}

.header {
Padding: 30px;
font-family: fantasy;
background-color: bisque;
color: black;

}

.center {
    margin: 0 auto;
    width: 30%;
    height:auto;
    border-style:solid;

}
#wow {
    position: relative;
    
}

#wow ul li {
    list-style: none;
    margin-right:50px;
    position: absolute;
    top:0;
    right:0;
    font-family: fantasy;
    background-color: bisque;
    color: black;
}
body {
    background-color: bisque;
    display:flex;
    align-items: center;
    flex-direction: column;
}
 h2 {
     font-family: fantasy;
     color: black;


 }

.about {
    font-family: fantasy;
    color: black;
}