
h1 {
Padding: 0px;
font-family: fantasy;
color: black;
font-size: 35px;
text-decoration: underline;
background-color: burlywood;
}

.nav {
    background-color: bisque;
    overflow: hidden;
}
.nav ul {
    padding: 0;
    margin: 0;
    text-align: right;
    height: 42px;
    background-color: burlywood;
}

.nav li {
    display: inline-block;
}

.nav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 12px;
    text-decoration: none;
    font-size: 22px;
    font-family: fantasy;
   
}

.nav a:hover {
    background-color: burlywood;
    color: white;
}

.nav a:active {
    background-color: white;
    color: bisque;
}





.image {
    margin: 0;
    width: 30%;
    height:auto;
    border-style:solid;

}

body {
    background-color: bisque;

}
 h2 {
     font-family: fantasy;
     color: black;
     text-decoration: underline;
     background-color: burlywood;


 }

.about {
    font-family: fantasy;
    color: black;
}

p {
    background-color: burlywood;
}